.*
coverage
dist
node_modules

docker-compose*
Dockerfile*

jsconfig.json
LICENSE
license
readme.md
README.md

purge*.md
stuff*.md

!.conf
!.prettierrc*
!.eslintrc*
!.gitignore*
!.npmrc*

!.yarnrc.yml
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
