.*
coverage
node_modules
test

docker-compose*
Dockerfile*

LICENSE
license
readme.md
README.md
stuff*.md

!.prettierrc*
!.eslintrc*
!.gitignore
!.yarnrc.yml
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
